  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }       
  
  body{
    background-color: ghostwhite;
    font-family: 'Roboto', sans-serif;

  }

      .centered{
        height: 90vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }

   .center{ 
    width:41vw;
    height: 79vh;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.398);
    background-color: rgba(0, 255, 255, 0.038); 
    
   }

   .data{
    display: flex;
    padding: 20px;
    height: 100px;
   }

   .labe{
    margin:8px;
   }

   input[type=text]{
    width: 100px;
    margin: auto;
    outline: none;
    height:45px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 14px;
    font-size: 16px;
    color: black;
    background-color:  rgba(0, 255, 255, 0);
    cursor: pointer;
   }

   input[type=text]:focus{
    background: snow;
    border: 2px solid burlywood;
   }
   label{
    padding:3px;
    margin-bottom: 10px;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.563)
   }

   .line{
     
    width:370px;
    height: 0.6px;
    border: 1px solid rgba(128, 128, 128, 0.427);
   }

   .linex{
    margin-top: 0px;
    padding-top: 1px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
   }

   .circle{
    height:60px;
    width:60px;
    background: plum;
    text-align: center;
    border-radius: 50%; 
    cursor: pointer;
   }

   .error1, .error2, .error3{
    font-size: 10px;
    color:red
   }


   .btn{
    font-size: xx-large;
    background-color:plum;
    border: none;
    margin-top: 10px;
    cursor: pointer;
   }

   p{
    font-size: 55px;
    font-weight: 600;
    margin-left: 30px;
   }
   .datee{
    margin-left: 10px;

   }

   .hidden{
    color:plum;
    word-spacing: 1px;
   }
     

   .para{  
     animation: fadeInLeft 3s ease-out ;

   }

   @keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-32px);
    } 
    30%{
        opacity: 0.5;
    }

    100%{
        opacity:1;
        transform: translateX(0);
    }
   }
   

    /* responsiveness for mobile*/
   @media(max-width : 576px){
    
    .centered{
    
        width:100%;
    }
    .center{
        width:270px;
        height:360px;


    }
     #day{
    
        width:70px;
        padding: 7px;
        height:40px;
        font-size: 15px;
        padding: 7px;

     }

       #year{
        width:70px;
        font-size:17px;
        height:40px;
        font-size: 15px;
        padding: 7px;

       }
        
       #month{
        width:70px;
        font-size:13px;
        height:40px;
        font-size: 15px;
         padding: 7px;
       }
        .data{
    

            font-size: small;
            justify-content: space-evenly;
            height: 80px;
        }
              
        .circle{
            position: absolute;
            left:105px;
            top:17px;
             height: 55px;
             width:55px;

        }
        .line{
            position: absolute;
            width:250px;
            top:47px;

        }

        .div-para{
            font-size: 15px;
            position: relative;
        }
        #para1{
            position: absolute;
            top:80px;
            margin-left: 20px;
            font-size: 40px;
            font-style: italic;
        }
        .error1, .error2, .error3{
            font-size: 9px;
        }


         .btn{
          font-size:30px;
        }

        }